body {
  text-align: center;
  background-color: #52de97;
}

/* Identifiers */
#brand {
  height: 3rem;
}

#C2C,
#std {
  line-height: 1;
  font-size: 1.8rem;
  margin-top: 0px;
  margin: 1rem auto;
  font-family: "Gaegu", cursive;
}

#c2c-svce,
#svce {
  color: #27496d;
  text-decoration: none;
  font-family: "Comic Neue", cursive;
}

#do {
  margin: 0px auto 0px auto;
  font-family: "Gaegu", cursive;
  font-size: 45px;
  font-weight: normal;
  line-height: 1;
}

#myname {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2rem;
  line-height: 2;
  margin-bottom: 0.2rem;
}

#Name {
  color: #27496d;
  margin: 0px auto 0px auto;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3.8rem;
  line-height: 2;
}

#golang {
  text-decoration: underline;
  font-family: "Comic Neue", cursive;
  font-size: 2.6rem;
}

#ski{
  font-family: "Gloria Hallelujah", cursive;
  font-size: 5rem;
}


/* containers */

.container-fluid.top {
  padding: 2% 10% 5%;
}

/* classes */
.add#add1 {
  background-color: #90c1e0;
  padding: 2% 2% 5%;
}

.add#add2{
  background-color: #27496d;
}

.content{
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
  font-size: 2rem;
  color: #f7f7f7;
  text-align: left;
  margin: 13% auto 1%;
}

.line {
  border-style: dotted;
  border-width: 0.3rem;
  border-bottom: none;
  color: #a7b8ca;
  margin: 4rem auto;
  width: 3.5rem;
}

.me {
  background-color: #f7f7f7;
  border-radius: 5rem;
  margin: 2rem auto 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  width: 50%;
}

.nav-item {
  margin: auto 18px;
}

.navbar-light .navbar-nav .nav-link {
  color: #27496d;
}
.navbar-light .navbar-brand {
  color: #27496d;
  font-family: "Comic Neue", cursive;
}

.skills{
  padding: 5em 0 9em;
}

/* images */

.star{
  height: 2rem;
  padding-left: .5rem;
}

.star.fir{
  margin-left: 3rem;
}

.image {
  height: 13rem;
  border-radius: 50%;
  margin: 2rem auto 0.5rem;
}

.image#gopher {
  margin-top: 3rem;
  border-radius: 0;
}

#ast_go {
  border-radius: 0px;
  height: 12rem;
  padding-left: 15rem;
}

#moon{
  height: 20rem;
  padding-right: 15rem;
  margin-top: 140px;
}

/* media querry */
@media screen and (max-width: 1080px) {
  .me {
    width: 100%;
    margin: 0px;
  }

  #Name{
    font-size: 3rem;
  }

  #myname,
  #Name {
    line-height: 1;
    padding-bottom: 10px;
  }
  #do {
    margin-top: 1rem;
  }

  #mee {
    height: 13rem;
  }

  #brand {
    height: 2.4rem;
  }

  #ski{
    padding-top: 2.5rem;
  }

  .container-fluid.top {
    padding: 2% 5% 3%;
  }

  .image {
    height: 8rem;
  }

  .skills{
    padding: 1rem 1rem 5rem;
  }

  #ast_go{
    height: 10rem;
    margin: 0.3rem auto;
    padding-left: 0rem;
    margin-bottom: 1rem;
  }

  #moon{
    margin: 1rem;
    height: 12rem;
    margin-bottom: 2px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 7px;
    position: relative;
  }
}

@media screen and (max-width:1500px){
  .content,.star{
    font-size: 2rem;
    height: 1.2rem;
    padding-left: 2px;
  }

  .star.fir{
    margin-left: 1rem;
  }

}

@media screen and (max-width: 900px){
  .content,.star{
    font-size: 1.5rem;
    height: 1.2rem;
  }

  #moon{
    margin: 1rem;
    height: 12rem;
    margin-top: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 7px;
  }
}